*.DAT
*.dat
*.NDS
*.nds
*.elf
*.bz2
*.dsi
*.cia
*.zip
*.exe
*.dldi
/*.bin
/*.dat
ntro_default.dldi
ntro_prev.dldi
arm9SecureFlag.bin
data
build
hbmenu
arm7/build
arm9/build
ndsbootloader/arm7/build
ndsbootloader/arm9/build
ndsbootloader/*.bin
